@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(to bottom,
      #f7f7f7,
      #fafafa);
  color: #1f2937;
  /* gray-800 */
}
